@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Schibsted Grotesk';
}

/* GENERAL */

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: #CC2B70;
    padding: 20px;
}

header .wrapper {
    display: flex;
    justify-content: center;
}

header img {
    max-width: 100%;
}
/* NAV */
nav {
    background-color: black;
    text-align: center;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 1rem;
}

nav a:hover {
    background-color: #CC2B70;
}

nav li {
    flex-grow: 1;
}

.categories {
    position: relative;
}
.submenu {
    background-color: black;
}



/* MAIN */
main h2 {
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;
}

main p {
    margin: 1rem 0;
    line-height: 1.5rem;
}

main a {
    text-decoration: none;
    color: #CC2B70;
}

main a:hover {
    text-decoration: underline;
}

main iframe {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.imatge-portada {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.discografia {
    display: grid;
    gap: 2rem;
    justify-items: center;
}

.disc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.disc img {
    width: 400px;
}

.detall h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.detall img {
    width: 400px;
    display: block;
    margin: 0 auto;
}

.detall ol, main ul {
    list-style-position: inside;
}

/* NAVEGA DISCOGRAFIA */

.navega-discografia {
    margin-top: 1rem;
}

.navega-discografia a {
    text-decoration: none;
    color: #CC2B70;
}

.navega-discografia a:hover {
    text-decoration: underline;
}

.navega-discografia .wrapper {
    display: flex;
    justify-content: space-between;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 2rem;
    padding: 1rem 0;
}

footer p:first-of-type {
    margin-bottom: 1rem;
}


/* RESPONSIVE */
@media (min-width: 768px) {
    .wrapper {
        max-width: 1000px;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .submenu {
        display: none;
    }

    .categories:hover .submenu {
        display: block;
        position: absolute;
        right: 0;
    }

    main h2 {
        text-align: left;
    }

    .discografia {
        grid-template-columns: repeat(2, 1fr);
    }

    .detall {
        display: grid;
        grid-template-columns: 400px 1fr;
        gap: 1rem;
    }

    .detall h2 {
        grid-column: 1/-1;
        margin-bottom: 0;
    }

    .detall h3 {
        margin-top: 0;
    }

    .descripcio {
        grid-column: 1/-1;
    }
}